:root {
	--primary: hotpink;
  --secondary: lightgreen;
}

:global {
	html,
	body {
		height: 100%;
		margin: 0;
		background-color: hsl(0, 0%, 10%);
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
		font-size: 20px;
		color: #444;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		overflow: hidden
	}
	* {
		box-sizing: border-box;
	}
	.header {
		display: flex;
		justify-content: center;
    color: var(--primary);
	}
	#map {
		height: 90%;
	}
	.mapPreReq {
		height: 100%;
	}
	.content {
		font-size: .9rem;
	}
}
